html, body{
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
}

h2{
    margin: -5mm auto 2mm auto;
}

/*whole width flex container*/
.w-cont{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2mm;
}

/*battle scores*/
#battle-scores .score-cont{
    width:fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 3.5mm;
    font-weight: bold;
    align-items: center;
}

#battle-scores .score-cont .circle{
    width: 12mm;
    height: 12mm;
    display: inline-block;
    box-sizing: border-box;
    border: solid 0.1em black;
    border-radius: 15mm;
}

/*ability-scores*/
#ability-scores .score-cont{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 4mm;
    font-weight: bold;
    letter-spacing: -0.05em;
}

#ability-scores .score-cont .score{
    width: 10mm;
    height: 5mm;
    border: solid 0.1em black;
    border-bottom: 0;
    border-radius: 2mm 2mm 0 0;
    z-index: 0;
}

#ability-scores .score-cont .mod{
    width: 10mm;
    height: 10mm;
    border: solid 0.1em black;
    border-radius: 0 0 2mm 2mm;
    z-index: 1;
    background-color: #ffffff;
}

#ability-scores .score-cont .border{
    margin-top: -5mm;
    z-index: 0;
    border-radius: 2mm;
    border: solid 0.1em black;
    padding: 5mm 1mm 1mm 0.5mm;
    font-weight: normal;
}

#ability-scores .score-cont .border .string{
    font-size: 3.2mm;
    padding: 0.2em 0 0 0;
    line-height: 2.4mm;
}

#ability-scores .score-cont .border .value{
    width: 5mm;
    margin: 0 0.1em 0 0;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}

#ability-scores .score-cont .border .value::before{
    content: "⦾__";
}

/*hits, temp hits, dices, exp, deaththrows*/
#hits{
    font-size: 4mm;
    font-weight: bold;
}

#hits .field-cont{
    text-align: center;
}

#hits .field{
    width: 20mm;
    height: 40mm;
    border: solid 0.1em black;
    border-radius: 4mm;
    font-size: 4mm;
    font-weight: normal;
}

#hits .field-cont .exp{
    background-image: url("../img/medal.png");
}

#hits .field-cont .curr{
    background-image: url("../img/whart.png");
}

#hits .field-cont .dice{
    background-image: url("../img/dice.png");
}

#hits .field-cont .temp{
    background-image: url("../img/bhart.png");
}

#hits .field-cont .dead{
    background-image: url("../img/skull.png");
}

#hits .field-cont .exp,
#hits .field-cont .curr,
#hits .field-cont .dice,
#hits .field-cont .temp,
#hits .field-cont .dead{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: color;
}

#hits .field-cont .exp .up,
#hits .field-cont .curr .up,
#hits .field-cont .dice .up{
    padding-bottom: 8mm;
}

#hits .field-cont .exp .down,
#hits .field-cont .curr .down,
#hits .field-cont .dice .down{
    margin-top: 21mm;
}

#hits .field-cont .dead{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#hits .field-cont .exp .line,
#hits .field-cont .curr .line,
#hits .field-cont .dice .line,
#hits .field-cont .dead .line{
    height: 0.05em;
    background-color: #000000;
}
/*tables*/
table{
    width: 100%;
    border: solid 0.1em black;
    border-radius: 4mm;
    font-size: 4mm;
}

table thead td{
    text-align: center;
    font-weight: bold;
    border-bottom: solid 0.1em black;
}

#attacks thead td:nth-child(1),
#abilities thead td:nth-child(1){
    text-align: left;
    padding-left: 1em;
}

#conditions tbody tr:nth-child(even),
#attacks tbody tr:nth-child(even),
#abilities tbody tr:nth-child(even){
    background-color: #efefef;
}

#conditions tbody td:nth-child(1){
    width: 40mm;
}

#conditions tbody td:nth-child(2){
    width: 60mm;
}

#attacks tbody td:nth-child(1){
    width: 40mm;
}

#attacks tbody td:nth-child(2){
    width: 10mm;
}

#attacks tbody td:nth-child(3){
    width: 30mm;
}

/*spell casting*/
#casting{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 4mm;
    font-weight: bold;
    letter-spacing: -0.05em;
    text-align: center;
    margin-bottom: 2mm;
}

#casting .cont{
    width: 30%;
}

#casting .cont .circle{
    width: 12mm;
    height: 12mm;
    box-sizing: border-box;
    border: solid 0.1em black;
    border-radius: 15mm;
    margin: 0 auto;
}

#casting .cont .field{
    width: 100%;
    height: 8mm;
    box-sizing: border-box;
    border: solid 0.1em black;
    border-radius: 8mm;
    margin: 2mm auto;
}

#levels{
    width: 100%;
    height: 9mm;
    box-sizing: border-box;
    border: solid 0.5mm black;
    border-radius: 3.6mm;
    display: flex;
    justify-content: space-around;
}

#levels .level{
    width: 8mm;
    font-size: 6mm;
    font-weight: bold;
    text-align: center;
}

#levels .level .super{
    display: inline;
    font-size: 3mm;
    font-weight: normal;
    vertical-align: super;
}

#slots{
    width: 100%;
    border-radius: 4mm;
    display: flex;
    justify-content: space-around;
}

#slots .stripe{
    width: 8mm;
    font-size: 8mm;
    text-wrap: wrap;
    height: fit-content;
    text-align: center;
    font-weight: normal;
    line-height: 0.7em;
    border: solid 0.5mm black;
    border-radius: 0 0 4mm 4mm;
    border-top: none;
    box-sizing: border-box;
    padding-bottom: 1mm;
}

@font-face {
    font-family: Kurland;
    src: url(../fonts/Kurland.otf);
}

@font-face {
    font-family: Caveat;
    src: url(../fonts/Caveat.ttf);
}