html, body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("../img/background.png");
}

.page-title{
    width: 100%;
    position: absolute;
    margin: 1em auto;
    display: block;
    text-align: center;
    color: white;
    font-size: 3em;
}

/* main page card menu*/
.card-menu-cont{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-menu-cont .card-menu{
    box-shadow: 0mm 0mm 10mm black;
}

.card-menu-cont .card-menu .button{
    color: white;
    font-weight: bold;
    font-size: 4mm;
    text-transform: uppercase;
    height: 9vw;
    width: 16vw;
    display: inline-flex;
    align-items: end;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-menu-cont .card-menu .journal{
    background-image: url("../img/journal.png");
}

.card-menu-cont .card-menu .button .title{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding: 0.5em ;
}

/*top bar menu*/
.top-bar{
    height: 3vw;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0mm 0mm 5mm black;
    z-index: 10;
}

.top-bar .button{
    color: white;
    font-weight: bold;
    font-size: 4mm;
    text-transform: uppercase;
    height: 100%;
    width: fit-content;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-bar .button .title{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    padding: 0 1em;
    display: flex;
    align-items: center;
}

.top-bar .journal{
    background-image: url("../img/journal.png");
}

@media print {
    .top-bar {
        display: none;
    }
    html, body{
        background-image: none;
    }
}

@font-face {
    font-family: Caveat;
    src: url(../fonts/Caveat.ttf);
}

@font-face {
    font-family: Colus;
    src: url(../fonts/Colus.ttf);
}

@font-face {
    font-family: Kurland;
    src: url(../fonts/Kurland.otf);
}

@font-face {
    font-family: Merriweather;
    src: url(../fonts/Merriweather.ttf);
}

@font-face {
    font-family: Merriweather_Bold;
    src: url(../fonts/Merriweather_Bold.ttf);
}
